#header{
  position: relative;
  width: inherit;
  left: inherit;
  top: inherit;
  padding: 15px;
}
#header .site{
  display: none;
}
#header h1{
  font-size: 120px;
}
#sections{
  position: relative;
  margin: 0;
}
#sections div{
  display: inline;
  margin-right: 20px;
}
#sections div a {
  font-size: 48px;
}
.content{
  margin-left: 0;
  width: inherit;
  padding: 0 15px;
}
.authoring{
  font-size: 2em !important;
}
#projects p, .content p, #post p{
  font-size: 48px;
  line-height: 1.4em;
}
#post blockquote{
  font-style: italic;
  font-size: 48px;
  padding: .25em 1em;
  margin: 1em 1em 0 1em;
  color: #444;
}
#projects h1, #post h1{
  font-size: 72px;
}
#projects h2, #post h2{
  font-size: 60px;
}
#projects h3{
  font-size: 56px;
}
#projects .link{
  font-size: 36px;
}
.content li, #post li {
  font-size: 48px;
}
.content li span {
  font-size: 36px;
}
.content li div{
  font-size: 30px;
}
.content .copy{
  line-height: 3em;
}
.whoring h3{
  font-size: 48px;
}
.whoring img{
  display: none;
}
