---
layout: layout
---

<div class="content">
  <div id="post">
    {% include post_header.html %}
    {{ content }}
  </div>

  <div class="whoring">
    <h3>Discussion, links, and tweets</h3>
    <div class="copy">
      <a href="https://twitter.com/siong1987"><img src="/images/profile.png" height="50" width="50" /></a>

      <p>
        I'm Teng Siong Ong aka siong1987, enjoying working on startup, cofounder of GraffitiGeo (Y Combinator S2009), acquired by
        Loopt, started FLOChip. Now, I am working on a stealth startup
        while studying at UIUC. You can <a href="https://twitter.com/siong1987">follow me on Twitter</a>.
      </p>

      <p>
        If you want to talk to me about this post, you can send me <a href="&#x6d;&#x61;&#105;&#x6c;&#116;&#x6f;&#58;&#x73;&#x69;&#x6f;&#110;&#103;&#49;&#57;&#56;&#55;&#64;&#103;&#109;&#x61;&#x69;&#108;&#46;&#99;&#x6f;&#109;">an email</a>.
      </p>

      {% if page.hn %}
      <p>
        If you are on Hacker News, you can have your discussion <a href="{{ page.hn }}">here</a>.
      </p>
      {% endif %}

      <a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="siong1987">Tweet</a>
      <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

      <a href="http://twitter.com/siong1987"
        class="twitter-follow-button" data-show-count="false">Follow @siong1987</a>
      <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
    </div>
  </div>
</div>
